
.form {
    display: flex;
    align-items: left;
    margin: 20px 0;
    width: 100%;
    max-width: 600px; 
    /* margin-left: auto; */
    margin-right: auto; 
  }
  
  .input {
    background-color: #1A2902;
    padding: 1rem; 
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 7px;
    flex-grow: 1;
    width: 70vw; /* 70% of the viewport width */
    max-width: 400px; /* Maximum width */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .input:hover,
  .input:focus {
    border-color: white;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
    outline:none
  }
  
  .button {
    padding: 1rem 2rem;
    font-size: 1rem;
    border: none;
    background-color: gray;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
  }
  
  