/* components/SearchBar.module.css */
.form {
  display: flex;
  align-items: center;
  margin: 20px 0;
  width: 100%; /* Full width */
  max-width: 600px; /* Max width */
  margin-left: auto;
  margin-right: auto; /* Center horizontally */
}

.input {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 7px;
  flex-grow: 1;
  width: 70vw; /* 70% of the viewport width */
  max-width: 400px; /* Maximum width */
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.input:hover {
  border-color: white;
  box-shadow: 0 0 5px rgba(0, 112, 243, 0.3);
}

.button {
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  background-color: gray;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}
