
.h1 {
    color: #AEC09A;
    font-size: 80px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer;
    margin-left: 60px;
  }
  
  .h1 span {
    transition: 0.5s ease-out;
  }

  .h1:hover span:nth-child(1) {
    margin-right: 15px;
  }

  .h1:hover span:nth-child(2):after {
    content:"."
  }

  .h1:hover span:nth-child(3) {
    margin-left: 30px;
  }

  .h1:hover span:nth-child(1),
  .h1:hover span:nth-child(3) {
    color: #1A2902;
    text-shadow: 0 0 10px #1A2902, 0 0 20px #1A2902, 0 0 40px #1A2902;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-50px);
    }
    60% {
      transform: translateY(-25px);
    }
  }
  
  .bounceHover {
    transition: transform 0.4s ease-in-out;
  }
  
  .bounceHover:hover {
    animation: bounce 1.5s;
  }